.wrapper {
    width: 1000px;
    margin: auto;
}

.header {
    width: 1000px;
    height: 159px;
    background-image: url('Images/newHeaderTry1.jpg');
    
}

.navigation {
    width: 1000px;
    height: 40px;
    background-image: url('Images/navigation.jpg');
    text-decoration: none;
}

 .searchRegister {
    width: 1000px;
    height: 50px;
    background-image: url('Images/searchRegister.jpg');
    color: grey;
}

.searchTextbox {
    clear: both;
    display: inline;
    float: left;
    margin-left: 37px;
}

.searchIcon {
    display: inline;
    float: left;
}

.register {
    text-align: right;
}

.registerLink, .loginLink {
    text-decoration: none;
    color: #CECE00;
}

.registerLink.registerLink:hover, .loginLink.loginLink:hover {
    color: #00FFCC; 
}

.socialIcons {
    text-align: left;
    padding-right: 52px;
}

.body {
    width: 1000px;
    height: 410px;
    background-color: #F9F9FF;
}

.pics {
    width: 1000px;
    height: 78px;
}

#picsScroll {
    width: 500px;
    display: inline;
}

#picsFacebookLike {
    width: 500px;
    display: inline;
    float: right;
}

.footer {
    width: 1000px;
    height: 100px;
    background-image: url('Images/footer.jpg');
}

.footerLogoCopyright {
    clear: both;
    width: 250px;
    display: inline;
    float: left;
    margin-top: 5px;
}

.footerLogo {
    width: 250px;
    display: block;
    float: left;

    background-image: url('Images/newFooterLogo.jpg');
    background-repeat: no-repeat;
    height: 70px;
}

.footerCopyright {
    width: 250px;
    display: block;
    float: left;
    text-align: center;
    color: grey;
}

.footerContactUsSocialSite {
    width: 250px;
    display: inline;
    float: left;
    margin-top: 5px;
}

.footerContact {
    width: 250px;
    display: block;
    float: left;
    margin-top: 5px;
    margin-left: 55px;
}

.footerSocialSite {
    width: 250px;
    display: block;
    float: left;
    margin-left: 55px;
}

.footerAllMainCategories {
    width: 250px;
    display: inline;
    float: left;

    margin-top: 5px;
    color: grey;
}

.footerHome {
    width: 250px;
    display: block;
    float: left;
    margin-left: 40px;
}

.footerHospital {
    width: 250px;
    display: block;
    float: left;
    margin-left: 40px;
}

.footerEntryUser {
    width: 250px;
    display: block;
    float: left;
    margin-left: 40px;
}

.footerPatient {
    width: 250px;
    display: block;
    float: left;
    margin-left: 40px;
}

.footerAnalysis {
    width: 250px;
    display: block;
    float: left;
    margin-left: 40px;
}

.footerAboutUsHitCount {
    width: 245px;
    display: inline;
    float: left;

    margin-top: 5px;
    color: #CECE00;
}

.footerAboutUs {
    width: 245px;
    display: block;
    float: left;
    margin-left: 60px;
}

.footerHitCount {
    width: 245px;
    display: block;
    float: left;
    margin-left: 60px;
    color: grey;
}

/*Footer Contact Us*/
.footerContactUs {
    text-decoration: none;
    color: #CECE00;
}

.footerContactUs.footerContactUs:hover {
    color: #00FFCC;
}

/*Footer AboutUsLink*/
.footerAboutUsLink {
    text-decoration: none;
    color: #CECE00;
}

.footerAboutUsLink.footerAboutUsLink:hover {
    color: #00FFCC;
}

/*Footer Home Health Patient Analysis Link*/
.footerHomeLink, .footerHospitalLink, .footerEntryUser, .footerPatientLink, .footerAnalysisLink {
    text-decoration: none;
    color: #CECE00;
}

.footerHomeLink.footerHomeLink:hover, .footerEntryUser.footerEntryUser:hover, .footerHospitalLink.footerHospitalLink:hover {
    color: #00FFCC;
}

.footerPatientLink.footerPatientLink:hover, .footerAnalysisLink.footerAnalysisLink:hover {
    color: #00FFCC;
}
/*****************************************************************************************/
/*****************************************************************************************/
/*Link*/
.link {
    color: #0000FF;
}

.link.link:hover {
    color: #00C6C6;
}
